<div class="container">
  <div class="row">
    <div class="col-xs-4">
  </div>
  <div class="col-xs-4">

          <div class="title"><h2>会員情報編集</h2></div>
          <%= form_for(@member, url: front_member_path) do |t| %>


          <%= form_for(@address, url: front_member_path) do |f| %>
            <div class="field">
               <%= f.label :corporate_name, "会社名" %><br>
               <%= f.text_field :corporate_name, class: "form-control" %>
               <%= f.label :corporate_phonetic, "ふりがな(会社名)" %><br>
               <%= f.text_field :corporate_phonetic, class: "form-control" %>
               <%= f.label :contact_person_name, "ご担当者様" %><br>
               <%= f.text_field :contact_person_name, class: "form-control" %>
               <%= f.label :contact_person_phonetic, "ふりがな(ご担当者様)" %><br>
               <%= f.text_field :contact_person_phonetic, class: "form-control" %>
               <%= f.label :postal_code, "郵便番号" %><br>
               <%= f.text_field :postal_code, class: "form-control" %>
               <%= f.label :address1, "市区町村/番地" %><br>
               <%= f.text_field :address1, class: "form-control" %>
               <%= f.label :address2, "その他" %><br>
               <%= f.text_field :address2, class: "form-control" %>
               <%= f.label :phone, "電話番号" %><br>
               <%= f.text_field :phone, class: "form-control" %>
             </div>
              <%= t.submit "更新する" %>

            <% end %>
             <%= t.label :メールアドレス %><br />
               <%= t.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
            <div class="actions">
            </div>
            <% end %>
          <%= link_to "Back", :back %>
      </div>
    </div>
</div>