<div class= "container", style="padding-top: 100px;">
	<div class= "row">
		<div class="col-xs-12">

        <div class="menu-list1">
            <div class="menu-box">
              <div class="menu1">
                <%= link_to "購入履歴", class: "btn btn-default" %>
                </div>
              <div class="menu1">
                <%= link_to "会員情報編集", class: "btn btn-default" %>
                </div>
              <div class="menu1">
                <%= link_to "利用申請履歴", class: "btn btn-default" %>
                </div>
              <div class="menu1">
                <%= link_to "申請者登録情報", class: "btn btn-default" %>
                </div>
            </div>
            <div class="menu-box">
              <div class="menu1">
                <%= link_to "請求送付先", class: "btn btn-default" %>
                </div>
              <div class="menu1">
                <%= link_to "クレジットカード情報", class: "btn btn-default" %>
                </div>
              <div class="menu1">
                <%= link_to "配送先一覧", class: "btn btn-default" %>
                </div>
              <div class="menu1">
                <%= link_to "退会", class: "btn btn-default" %>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>