<%= stylesheet_link_tag 'front/members' %>
<div class= "container", style="padding-top: 100px;">
	<div class= "row">
		<div class="col-xs-12">

        <div class="menu-list1">
            <div class="menu-box">
              <div class="menu1">
                <%= link_to "購入履歴" %>
                </div>
              <div class="menu1">
                <%= link_to "会員情報詳細＆編集", front_member_path(current_member.id) %>
                </div>
              <div class="menu1">
                <%= link_to "利用申請履歴" %>
                </div>
              <div class="menu1">
                <%= link_to "申請者登録情報" %>
                </div>
            </div>
            <div class="menu-box">
              <div class="menu1">
                <%= link_to "請求送付先" %>
                </div>
              <div class="menu1">
                <%= link_to "クレジットカード情報" %>
                </div>
              <div class="menu1">
                <%= link_to "配送先一覧" %>
                </div>
              <div class="menu1">
                <%= link_to "退会", front_delete_path %>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>