<%= stylesheet_link_tag 'front/members' %>
<div class="container">
	<div class="row">
		<div class="col-xs-4">
		</div>
		<div class="col-xs-4">
			<div class="title"><h2>お客様情報</h2></div>
		<table class="table">
			<tbody>
				<tr>
					<th>会社名</th>
					<td><%= @address.corporate_name %></td>
				</tr>
				<tr>
					<th>ふりがな(会社名)</th>
					<td><%= @address.corporate_phonetic %></td>
				</tr>
				<tr>
					<th>ご担当者様</th>
					<td><%= @address.contact_person_name %></td>
				</tr>
				<tr>
					<th>ふりがな(ご担当者様)</th>
					<td><%= @address.contact_person_phonetic %></td>
				</tr>
				<tr>
					<th>郵便番号</th>
					<td><%= @address.postal_code %></td>
				</tr>
				<tr>
					<th>都道府県</th>
					<td><%= @address.prefecture.name %></td>
				</tr>
				<tr>
					<th>市区町村/番地</th>
					<td><%= @address.address1 %></td>
				</tr>
				<tr>
					<th>その他</th>
					<td><%= @address.address2 %></td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td><%= @address.phone %></td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td><%= @member.email %></td>
				</tr>
			</tbody>
		</table>
		<%= link_to "会員情報編集", edit_front_member_path, class: "edit-btn btn btn-info" %>
		<%= link_to "戻る", front_members_path, class: "show-back-btn btn btn-default" %>
	  </div>
	</div>
</div>