<div class="container">
  <div class="row">
    <div class="col-md-12 text-center"">
      <h2>配送先住所変更フォーム</h2><br>
      <div class="form-body">
        <%= form_for (@address) do |form| %>
          <div class="form-group">
            <h4>会社名 団体名</h4>
            <%= f.text_field :organisation_name %>
          </div>
          <div class="form-group">
            <h4>郵便番号</h4>
            <%= f.text_field :shipping_postal_code %>
          </div>
          <div class="form-group">
            <h4>住所</h4>
            <%= f.text_field :address1 %>
          </div>
          <div class="form-group">
            <h4>ビル・マンション名</h4>
            <%= f.text_field :address2 %>
          </div>
          <div class="form-group">
            <h4>担当部署</h4>
            <%= f.text_field :department %>
          </div>
          <div class="form-group">
            <h4>担当者</h4>
            <%= f.text_field :contact_person %>
          </div>
          <div class="form-group">
            <h4>電話番号</h4>
            <%= f.text_field :user_telephone %>
          </div>
          <div class="form-group">
            <%= f.submit "更新", class:"btn btn-md btn-primary" %>
          </div>
        <% end %>
    </div>
  </div>
</div>