<div class="container">
  <div class="row">
  <%#= render 'users/frame1', user: @user, book: @book %>
    <div class="col-md-12">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <h2>お届け先住所の選択</h2>
        <% @addresses.each do |address| %>
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">法人名 団体名</th>
              <td><% @address.organisation_name %></td>
            </tr>
            <tr>
              <th scope="row">郵便番号</th>
              <td><% @address.shipping_postal_code %></td>
            </tr>
            <tr>
              <th scope="row">住所1</th>
              <td><% @address.address1 %></td>
            </tr>
            <tr>
              <th scope="row">ビル・マンション名</th>
              <td><% @address.address2 %></td>
            </tr>
            <tr>
              <th scope="row">ご担当部署</th>
              <td><% @address.department %></td>
            </tr>
            <tr>
              <th scope="row">ご担当者名</th>
              <td><% @address.contact_person %></td>
            </tr>
            <tr>
              <th scope="row">電話番号</th>
              <td><% @address.user_telephon %></td>
            </tr>
          </tbody>
        <%= form_for(@sale) do |f| %>
          <% f.submit 'この住所に配送する', class: "btn btn-primary" %>
        <% end %>
        <% link_to "編集", '住所編集_path'(address.member_id) %>
        <% link_to "削除", '住所削除_path', method: :delete, "data-confirm" => "" %>
        </table>
        <% end %>
        <br><br><br>
      <h3>新しい配送先の登録</h3>
      <div class="form-body">
        <%= form_for (@address) do |form| %>
          <%= fields_for(@sale) do |i| %>
            <div class="form-group">
              <h4>会社名 団体名</h4>
              <%= f.text_field :organisation_name %>
            </div>
            <div class="form-group">
              <h4>郵便番号</h4>
              <%= f.text_field :shipping_postal_code %>
            </div>
            <div class="form-group">
              <h4>住所</h4>
              <%= f.text_field :address1 %>
            </div>
            <div class="form-group">
              <h4>ビル・マンション名</h4>
              <%= f.text_field :address2 %>
            </div>
            <div class="form-group">
              <h4>担当部署</h4>
              <%= f.text_field :department %>
            </div>
            <div class="form-group">
              <h4>担当者</h4>
              <%= f.text_field :contact_person %>
            </div>
            <div class="form-group">
              <h4>電話番号</h4>
              <%= f.text_field :user_telephone %>
            </div>
            <div class="form-group">
              <%= f.submit "この住所を使う", class:"btn btn-md btn-primary" %>
            </div>
          <% end %>
        <% end %>
        <br>
    </div>
  </div>
</div>