<div class="container">
	<div class="row">
	  <div class="col-md-12 mx-auto text-center">
		<h2>申請内容の確認</h2>
		<br>
		  <h3>申請者情報</h3>
			<%= form_for (@applicant) do |form| %>
          <div class="form-group">
            <h4>法人名 団体名</h4>
            <%= f.text_field :applicant_organisation_name %>
          </div>
          <div class="form-group">
            <h4>法人名 団体名（ふりがな）</h4>
            <%#= f.text_field :applicant_organisation_name %>
          </div>
          <h4>代表者名</h4>
            <%= f.text_field :representative_name %>
          </div>
          <div class="form-group">
            <h4>代表者名（ふりがな）</h4>
            <%#= f.text_field :representative_name %>
          </div>
          <div class="form-group">
            <h4>郵便番号</h4>
            <%= f.text_field :applicant_postal_code %>
          </div>
          <div class="form-group">
            <h4>住所</h4>
            <%= f.text_field :applicant_address %>
          </div>
          <div class="form-group">
            <h4>電話番号</h4>
            <%= f.text_field :applicant_telephone %>
          </div>
          <div class="form-group">
            <h4>FAX</h4>
            <%= f.text_field :applicant_fax %>
          </div>
          <div class="form-group">
            <h4>ご担当者名</h4>
            <%= f.text_field :contact_person %>
          </div>
          <div class="form-group">
            <h4>ご担当者名（ふりがな）</h4>
            <%= f.text_field :contact_person %>
          </div>
          <div class="form-group">
            <h4>部署名</h4>
            <%= f.text_field :applicant_department %>
          </div>
          <div class="form-group">
            <h4>Email</h4>
            <%= f.email_field :contact_person_email %>
          </div>
          <div class="form-group">
            <h4>日中のご連絡先（上記と異なる場合）</h4>
            <%= f.text_field :contact_person_mobilephone %>
          </div>
			<br>
			<h3>イベント情報</h3>
			<%= form_for (@application) do |form| %>
          <div class="form-group">
            <h4>利用場面</h4>
            <%= f.label :"利用場面を選択してください" %><br>
  					<%= f.select :business_type, [["国語", "国語"], ["数学", "数学"], ["英語", "英語"], ["理科", "理科"], ["社会", "社会"], ["その他", "その他"]] ,class:"form-control" %>
          </div>
          <div class="form-group">
            <h4>イベント名</h4>
            <%= f.text_field :event_title %>
          </div>
          <h4>開催日 自</h4>
            <%= datetime_select_tag :event_date_from %>
          </div>
          <div class="form-group">
            <h4>開催日 至</h4>
            <%= datetime_select_tag :event_date_to %>
          </div>
          <div class="form-group">
            <h4>公演回数</h4>
            <%= f.text_field :event_frequency %>
          </div>
          <div class="form-group">
            <h4>公演時間</h4>
            <%= f.text_field :performance_duration %>
          </div>
          <div class="form-group">
            <h4>会場名</h4>
            <%= f.text_field :vunue_hall_name %>
          </div>
          <div class="form-group">
          	<h4>出演者への報酬</h4>
						<label><%= f.radio_button :pay_for_performer, "有" %> 有 </label>
						<label><%= f.radio_button :pay_for_performer, "無" %> 無 </label>
          </div>
          <div class="form-group">
            <h4>出演者名</h4>
            <%= f.text_field :performaers_name %>
          </div>
          <div class="form-group">
            <%= f.submit "更新", class:"btn btn-md btn-primary" %>
          </div>
        <% end %>
			<br>
			<h3>演奏利用明細</h3>
			<table class="table table-bordered">
			  <thead>
			    <tr>
			      <th scope="col">曲名</th>
			      <th scope="col">演奏回数</th>
			      <th scope="col">演奏時間</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">1</th>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row">1</th>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row">1</th>
			      <td></td>
			      <td></td>
			    </tr>
			  </tbody>
			</table>
	  </div>
	</div>
</div>