<div class="container">
  <div class="row">
    <div class="col-xs-4">
  </div>
  <div class="col-xs-4">

          <h2>会員情報編集</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.fields_for :address do |corporate| %>
               <%= corporate.label :corporate_name, "会社名" %><br>
               <%= corporate.text_field :corporate_name, class: "form-control" %>
               <%= corporate.label :corporate_phonetic, "ふりがな" %><br>
               <%= corporate.text_field :corporate_phonetic, class: "form-control" %>
               <% end %>
             </div>

            <div class="field">
              <%= f.label :メールアドレス %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :パスワード %> <i>(変更しない場合は空欄のまま)</i><br />
              <%= f.password_field :password, autocomplete: "new-password",class: "form-control" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> 文字以上の半角英数字</em>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :パスワードの確認 %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %>
            </div>

            <div class="field">
              <%= f.label :現在のパスワード %> <i>(変更するには現在のパスワードが必要です)</i><br />
              <%= f.password_field :current_password, autocomplete: "current-password",class: "form-control" %>
            </div>

            <div class="actions">
              <%= f.submit "更新する" %>
            </div>
          <% end %>

          <h3>退会</h3>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

          <%= link_to "Back", :back %>
      </div>
    </div>
</div>