<div class="show-content" style="padding-top: 100px;">
  <div class="container">
    <div class="row" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 100px;">
      <div class="col-md-2"></div>
        <div class="col-md-8">
          <h3>配送先新規登録</h3><br>
            <%= form_for @credit, url: generate_credit_cards_path do |f| %>
            <div class="form-body">
              <div class="form-group">
                <h5>クレジットカード番号</h5>
                <%= f.text_field :credit_card_number, class: "form-control" %>
              </div>
              <div class="form-group">
                <h5>クレジットカード名義</h5>
                <%= f.text_field :credit_card_holder, class: "form-control" %>
              </div>
              <div class="form-group">
                <h5>有効期限(月)</h5>
                <%= f.select :exp_month, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], ["7", 7], ["8", 8], ["9", 9], ["10", 10], ["11", 11], ["12", 12]] %>
              </div>
              <div class="form-group">
                <h5>有効期限(年)</h5>
                <%= f.select :exp_year, [["2018", 2018], ["2019", 2019], ["2020", 2020], ["2021", 2021], ["2022", 2022], ["2023", 2023], ["2024", 2024], ["2025", 2025]] %>
              </div>
              <div class="form-group text-center">
                <%= f.submit "Register", class:"btn btn-md btn-info btn-lg" %>
                <%= f.hidden_field :member_id, :value => @member.id %>
              </div>
              <% end %>
            </div>
          <br>
          <% if @member.credit_cards.present? %>
          <h3>配送先一覧</h3><br>
            <% @credits.each do |credit| %>
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row" class="col-md-2">クレジットカード番号</th>
                    <td class="col-md-7"><%= credit.credit_card_number %></td>
                  </tr>
                  <tr>
                    <th scope="row" class="col-md-2">クレジットカード名義人</th>
                    <td class="col-md-7"><%= credit.credit_card_holder %></td>
                  </tr>
                  <tr>
                    <th scope="row" class="col-md-2">有効期限</th>
                    <td class="col-md-7"><%= credit.exp_month %>/<%= credit.exp_year %></td>
                  </tr>
                </tbody>
              </table>
            <% end %>
          <% end %>
        </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>