<div class="genre" style="padding-top: 100px">
	<div class="contaienr-fluid">
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-9">
				<h2>ジャンル別商品登録数</h2>
				<table class="table table-hover table-inverce">
					<thead>
						<tr>
							<th>ジャンル名</th>
							<th>シングル/アルバム</th>
							<th>登録数</th>
						</tr>
					</thead>
					<tbody>
							<tr class="active">
								<td>J-POP</td>
								<td>シングル</td>
								<td><%= @genre.size %></td>
							</tr>
							<tr>
								<td></td>
								<td>アルバム</td>
								<td><%= @genre.size %></td>
							</tr>
							<tr class="active">
								<td>Sound tracks</td>
								<td>シングル</td>
								<td><%= @genre.size %></td>
							</tr>
							<tr>
								<td></td>
								<td>アルバム</td>
								<td><%= @genre.size %></td>
							</tr>
							<tr class="active">
								<td>Anime</td>
								<td>シングル</td>
								<td><%= @genre.size %></td>
							</tr>
							<tr>
								<td></td>
								<td>アルバム</td>
								<td><%= @genre.size %></td>
							</tr>
							<tr class="active">
								<td>Classics/Jazz</td>
								<td>シングル</td>
								<td><%= @genre.size %></td>
							</tr>
							<tr>
								<td></td>
								<td>アルバム</td>
								<td><%= @genre.size %></td>
							</tr>
							<tr class="active">
								<td>World</td>
								<td>シングル</td>
								<td><%= @genre.size %></td>
							</tr>
							<tr>
								<td></td>
								<td>アルバム</td>
								<td><%= @genre.size %></td>
							</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
