<fieldset>
	<table>
		<tbody>
			<tr>
				<td>
					<div class="field" style="padding-right: 20px;">
						<%= music.label :曲名 %>
						<%= music.text_field :music_title %>
					</div>
				</td>
				<td>
					<div class="field" style="padding-right: 20px;">
						<%= music.label :作曲者 %>
						<%= music.text_field :composer %>
					</div>
				</td>
				<td>
					<div class="field" style="padding-right: 20px;">
						<%= music.label :作詞者 %>
						<%= music.text_field :songwriter %>
					</div>
				</td>
				<td>
					<div class="field">
						<%= music.hidden_field :_destroy %>
						<%= link_to "削除", '#', class: "square_btn remove_fields"%>
					</div>
				</td>
			</tr>
		</td>
	</table>
</fieldset>
