<fieldset>
	<div class="form-group">
		<div class="field" style="padding-bottom: 20px">
			<%= music.label :曲名 %>
			<%= music.text_field :music_title %>
		</div>
	</div>
	<div class="form-group">
		<div class="field" style="padding-bottom: 20px">
			<%= music.label :作曲者 %>
			<%= music.text_field :composer %>
		</div>
	</div>
	<div class="form-group">
		<div class="field" style="padding-bottom: 20px">
			<%= music.label :作詞者 %>
			<%= music.text_field :songwriter %>
		</div>
	</div>
</fieldset>