<%= stylesheet_link_tag 'front/items' %>

<div class="show-content" style="padding-top: 180px;">
	<div class="container">
		<div class="row" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 80px;">
			<div class="col-md-4 col-md-offset-1">
				<h3 class="title" style="font-size: 50px; padding-bottom: 50px; margin-top: 0;" >
					Rights <br>ONLINE SHOP</h3>
				<table class="table table-inverce">
					<tbody>
						<tr>
							<th>Artist</th>
							<td><%= @item.artist %></td>
						</tr>
						<tr>
							<th>Title</th>
							<td><%= @item.cd_title %></td>
						</tr>
						<tr>
							<th>Price</th>
							<td>¥<%= @item.unit_price %></td>
						</tr>
						<tr>
							<th>Release</th>
							<td><%= japan_time(@item.created_at) %></td>
						</tr>
						<tr>
							<th>Single/Albam</th>
							<td><%= @item.package_i18n %></td>
						</tr>
						<% if @item.end_of_sell? %>
						<tr>
							<th>販売状況</th>
							<td>現在販売されていません</td>
						</tr>
						<% elsif @item.stock_quantity == 0 %>
						<tr>
							<th>販売状況</th>
							<td>在庫無し</td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<div class="action">
					<span><%= link_to carts_path, cart: {:item_id, :quantity, :member_id, :unit_price}, method: :post, class: 'square_btn col-md-12' do %>
						<i class="fas fa-cart-plus fa-lg"></i>
						<% end %>
					</span>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-1">
				<%= attachment_image_tag @item, :jacket_image, :fill, 500, 440, format: 'jpeg', class: "thumbnail" %>
			</div>
			<div class="col-md-3">
				<%= link_to items_path do %>
					<i class="fas fa-caret-left fa-4x my-gray"></i>
				<% end %>
				<p>BACK</p>
			</div>
		</div>
		<div class="item-body" style="padding-top: 100px; height: 100vh;">
			<div class="container">
				<div class="row">
					<div class="text-box">
						<div class="text">
							<h2 style="padding-bottom: 10px;">商品情報</h2>
							<table class= "table">
								<% @item.disks.each do |disk| %>
									<tr>
										<th style="border-top: 1px">DISK<%= disk.disk %></th>
									</tr>
									<tr>
										<th>曲名</th>
										<th>作曲者</th>
										<th>作詞者</th>
									</tr>
									<% disk.musics.each do |music| %>
										<tr>
											<td><%= music.music_title %></td>
											<td><%= music.composer %></td>
											<td><%= music.songwriter %></td>
										</tr>
									<% end %>
								<% end %>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
