<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>販売一覧</h2>
			  <% @sales.each do |sale| %>
				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col">販売日時</th>
				      <th scope="col">購入id</th>
				      <th scope="col">購入者id</th>
				      <th scope="col">入金状況</th>
				      <th scope="col">配送状況</th>
				      <th scope="col" colspan="2"></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td><%= japan_time(sale.updated_at) %></td>
				      <td><%= sale.id %></td>
				      <td><%= sale.member_id %></td>
				      <td>
				      	<div class="btn-group">
						  <select class="form-control">
						  	  <option selected>選択</option>
							  <option>入金待ち</option>
							  <option>入金済</option>
							  <option>確認中</option>
						  </select>
						</div>
				      </td>
				      <td>
				      	<div class="btn-group">
								  <select class="form-control">
								  	  <option selected>選択</option>
									  <option>準備中</option>
									  <option>出荷済み</option>
									  <option>確認中</option>
									  <option>出荷準備済</option>
								  </select>
								</div>
							</td>
				      <td><%= link_to "詳細", admin_sale_item_path(sale.id), class: "btn btn-secondary" %></td>
				      <td><%= link_to "削除", admin_sale_item_path(sale.id), method: :delete, class: "btn btn-light" %></td>
				    </tr>
				  </tbody>
				</table>
			  <% end %>
		</div>
	</div>
</div>