<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>請求書送付先の編集</h2>
      <div class="form-body">
        <%= form_for (@credit) do |form| %>
          <div class="form-group">
            <h4>請求書の宛名</h4>
            <%= f.text_field :bill_to %>
          </div>
          <div class="form-group">
            <h4>ご担当者名</h4>
            <%= f.text_field :contact_person %>
          </div>
          <div class="form-group">
            <h4>部署名</h4>
            <%= f.text_field :department %>
          </div>
          <div class="form-group">
            <h4>郵便番号</h4>
            <%= f.text_field :billing_postal_code %>
          </div>
          <div class="form-group">
            <h4>住所</h4>
            <%= f.text_field :billing_address %>
          </div>
          <div class="form-group">
            <%= f.submit "更新", class:"btn btn-md btn-primary" %>
          </div>
        <% end %>
        <br>
      </div>
    </div>
  </div>
</div>