<!-- newに挿入、使用せず -->
<div class="show-content" style="padding-top: 100px;">
  <div class="container">
    <div class="row" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 100px;">
      <div class="col-md-2"></div>
        <div class="col-md-8">
          <h2>請求書送付先 登録情報一覧</h2>
            <%= link_to "請求書送付先 新規登録", new_sale_invoice_path %>
            <% @inveices.each do |invoice| %>
            <table>
              <tbody>
                <tr class="text-right">
                  <td colspan="2"><%= link_to "編集", edit_sale_invoice(invoice.id), class: "btn btn-light" %></td>
                </tr>
                <tr>
                  <th scope="row">請求書宛名</th>
                  <td><%= @invoice.bill_tor%></td>
                </tr>
                <tr>
                  <th scope="row">ご担当者</th>
                  <td><%= @invoice.contact_person %></td>
                </tr>
                <tr>
                  <th scope="row">ご担当部署</th>
                  <td><%= @invoice.department %></td>
                </tr>
                <tr>
                  <th scope="row">請求書送付住所</th>
                  <td><%= @invoice.billing_postal_code r%></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td><%= @invoice.billing_address1 %></td>
                </tr>
                <% if @invoice.billing_address2 != nil? %>
                <tr>
                  <th scope="row"></th>
                  <td><%= @invoice.billing_address2 %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <% end %>
        </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>