<div class="show-content" style="padding-top: 100px;">
  <div class="container">
    <div class="row" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 100px;">
      <div class="col-md-2"></div>
        <div class="col-md-8">
          <h2>請求書送付先 登録情報</h2>
            <table>
              <tbody>
                <tr>
                  <th scope="row">請求書宛名</th>
                  <td><%= @invoice.bill_tor%></td>
                </tr>
                <tr>
                  <th scope="row">ご担当者</th>
                  <td><%= @invoice.contact_personr%></td>
                </tr>
                <tr>
                  <th scope="row">ご担当部署</th>
                  <td><<%= @invoice.department %></td>
                </tr>
                <tr>
                  <th scope="row">請求書送付住所</th>
                  <td><%= @invoice.billing_postal_code r%></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td><%= @invoice.billing_address1 %></td>
                </tr>
                <% if @invoice.billing_address2 !=nil? %>
                <tr>
                  <th scope="row"></th>
                  <td><<%= @invoice.billing_address2 %> %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>