<div class="show-content" style="padding-top: 100px;">
  <div class="container">
    <div class="row" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 80px;">
      <div class="w-100"></div>
      <div class="col-md-12">
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= form_for [@sale, @shippinga], url: sale_sale_shippings_path, method: :post do |f| %>
        <h3 class="text-center">配送先の登録</h3><br>
        <div class="form-body">
          <div class="form-group">
            <h5>会社名 団体名</h5>
            <%= f.text_field :organisation_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <h5>郵便番号</h5>
            <%= f.text_field :shipping_postal_code, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <h5>住所</h5>
            <%= f.text_field :shipping_address1, class: "form-control" %>
          </div>
          <div class="form-group">
            <h5>ビル・マンション名</h5>
            <%= f.text_field :shipping_address2, class: "form-control" %>
          </div>
          <div class="form-group">
            <h5>担当部署</h5>
            <%= f.text_field :department, class: "form-control" %>
          </div>
          <div class="form-group">
            <h5>担当者</h5>
            <%= f.text_field :contact_person, class: "form-control" %>
          </div>
          <div class="form-group">
            <h5>電話番号</h5>
            <%= f.text_field :user_telephone, class: "form-control" %>
          </div>
            <%= f.hidden_field :sale_id, :value => @sale.id %>
            <%= f.hidden_field :member_id, :value => @member.id %>
          <div class="form-group text-center">
            <%= f.submit "配送先確定", class: "btn btn-md btn-info btn-lg" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>