<div class="show-content" style="padding-top: 100px;">
	<div class="container">
		<div class="row" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 80px;">
			<div class="w-100"></div>
			<div class="col-md-12">
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
				  </div>
				</div>
			</div>
			<div class="col-md-9">
				<h2>ご注文内容の確認</h2><br>
				<div class="col-md-5">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">お届け先</h4>
						</div>
						<div class="panel-body">
							<h4><%= @shipping.organisation_name %></h4>
			        <h5><%= @shipping.department %></h5>
			        <h4><%= @shipping.contact_person %>様</h4>
			        <h5><%= @shipping.shipping_postal_code %><br>
				        	<%= @shipping.shipping_address1 %><br>
				        	<%= @shippings.try(:shipping_address2) %>
			        </h5>
			        <%= link_to "編集", edit_sale_sale_shipping_path(@shipping.id) %>
						</div>
					</div>
				</div>
				<% if @credit.present? %>
				<div class="col-md-5">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">お支払い方法：クレジットカード</h4>
						</div>
						<div class="panel-body">
							<h5>クレジットカード名義人：</h5>
							<h4><%= @credit.credit_card_holder %></h4>
			        <h5>クレジットカードNo：</h5>
			        <h4><%= @credit.credit_card_number %></h4>
			        <h5>有効期限</h5>
			        <h4><%= @credit.exp_month %>/<%= @credit.exp_year %></h4>
			        <%= link_to "編集", edit_credit_card_path(@credit.id) %>
						</div>
					</div>
				</div>
			<% else %>
				<div class="col-md-5">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">お支払い方法：請求書</h4>
						</div>
						<div class="panel-body">
							<h5>宛名：</h5>
							<h4><%= @invoice.bill_to %>様</h4>
			        <h5>送付先：</h5>
			        <h5><%= @invoice.billing_postal_code %></h5>
			        <h4><%= @invoice.billing_address1 %><br>
			        	<%= @invoice.billing_address2 %></h4>
			        <h4><%= @invoice.contact_person %>様</h4>
			        <%= link_to "編集", edit_sele_invoice_path(@invoice.id) %>
						</div>
					</div>
				</div>
			<% end %>
				<table class="table table-hover">
					<thead>
						<tr>
							<th colspan="4"><h3>ご注文の商品</h3></th>
							<th></th>
						</tr>
					</thead>
					<%= render 'sale/cart_items', carts: @carts, sub_total: @sub_total %>
				</table>
			</div>
				<div style="padding-top: 125px;">
					<div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">ご請求額：<%= @sale.total_price %>円</h4>
								<%= link_to "再計算", update_total_price_sale_path, class: "btn btn-link" %>
							</div>
							<div class="panel-body">
				        <h5>楽曲使用申請：</h5>
								<h4><%= @sale.Application %></h4>
							</div>
						</div>
						<%= form_for [@sale,@sale_item] do |f| %>
								<%= fields_for @sale, url: confirm_purchase_sale_path do |i| %>
									<%= i.hidden_field :total_price, :value => @sale.total_price %>
									<%= i.hidden_field :credit_card_id, :value => @credit.id %>
									<%#= i.hidden_field :sele_invoice_id, :value => @invoice.id %>
							<button type="button" class="btn btn-info">
									<%= i.submit %>
									<% end %>
								<%= f.hidden_field :sale_id, :value => @sale.id %>
								<%= f.hidden_field :item_id, :value => @item.id %>
								<%= f.hidden_field :quantity, :value => @cart.quantity %>
								<%= f.hidden_field :unit_price, :value => @cart.item.unit_price %>
								<%= f.submit "注文確定" %>
								<% end %>
							</button>
							<%#= f.submit "注文確定", class: "btn btn-info btn-block" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>