<div class="show-content" style="padding-top: 100px;">
	<div class="container">
		<div class="row" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 80px;">
			<div class="main-visual">
				<div class="col-md-9">
					<table class="table table-hover">
					  <thead>
							<tr>
								<th colspan="4"><h2>ショッピングカート</h2></th>
							</tr>
					  </thead>
					  <%= render 'sale/cart_items', carts: @carts, sub_total: @sub_total %>
					</table>
				</div>
				<div style="padding-top: 80px;">
					<div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									合計：<%= @sale.total_price %>円
								</h4>
							</div>
							<div class="panel-body">
				        <h5>楽曲使用申請：</h5>
							  <%= form_for @sale, url: proceed_purchase_sale_path do |f| %>
							  	<%= f.hidden_field :total_prise, :value => @sale.total_price %>
									<div class="field">
						        <label><%= f.radio_button :Application, 0 %> 楽曲利用申請をします</label>
						        <label><%= f.radio_button :Application, 1 %> 楽曲利用申請をしません</label>
								  </div>
							</div>
						</div>
						<%= f.submit "レジに進む", class: "btn btn-info btn-block" %>
					  <% end %>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>