<div class="show-content" style="padding-top: 100px;">
	<div class="container">
		<div class="row" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 80px;">
			<div class="main-visual">
				<div class="col-md-9">
					<table class="table table-hover">
					  <thead>
							<tr>
								<th colspan="4"><h2>ショッピングカート</h2></th>
							</tr>
					  </thead>
						<% @carts.each do |cart| %>
						  <tbody>
						    <tr>
						      <td class="col-xs-2"><%= link_to item_path(cart.item_id) do %>
						        <%= attachment_image_tag cart.item, :jacket_image, :fill, 100,100, format:'jpeg', class: "thumbnail" %>
						        <% end %>
						      </td>
						      <td>
						        <h4>
						        <%= link_to item_path(cart.item_id) do %>
						          <%= cart.item.cd_title %>
						        <% end %>
						        </h4><br>
						        <h5>
						        <%= cart.item.status %>
						        <br>
						        <%= cart.item.artist %>
						        </h5>
						      </td>
						      <td class="col-xs-2">
						        <h5>単価<%= cart.item.unit_price %>円</h5><br><!-- カートが完成したらitem外す -->
						        <div class="btn-group col-xs-9">
						        <%= form_for cart, url: update_show_cart_path(cart.id) do |i| %>
						            <%= i.number_field :quantity, class: 'form-control', value: cart.quantity %>
						        <%= i.submit '再計算', class: "btn btn-link" %>
						        <% end %>
						        </div>
						      </td>
						      <td class="col-xs-2">
						        <h4>小計<%= cart.quantity.to_i * cart.item.unit_price.to_i %>円</h4>
						      </td>
						      <td class="col-xs-1">
						        <%= link_to "削除",destroy_item_cart_path(cart.id), method: :delete, class: "btn btn-default" %>
						      </td>
						    </tr>
						  </tbody>
						<% end %>
					</table>
				</div>
				<div style="padding-top: 80px;">
					<div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									合計：<%= @sale.total_price %>円
								</h4>
								<%= link_to "再計算", amount_show_sale_path(@sale), method: :post, class: "btn btn-link" %>
							</div>
							<div class="panel-body">
				        <h5>楽曲使用申請：</h5>
							  <%= form_for @sale, url: proceed_purchase_sale_path do |f| %>
							  	<%= f.hidden_field :total_prise, :value => @sale.total_price %>
									<div class="field">
						        <label><%= f.radio_button :Application, "楽曲利用申請をします" %> 楽曲利用申請をします</label>
						        <label><%= f.radio_button :Application, "楽曲利用申請をしません" %> 楽曲利用申請をしません</label>
								  </div>
							</div>
						</div>
						<%= f.submit "レジに進む", class: "btn btn-info btn-block" %>
					  <% end %>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>