<!DOCTYPE html>
<html>
  <head>
    <title>Cdshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "header">
      <nav class="nav">
        <div class="container">
          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <%= link_to 'Home', root_path, class: "home" %>
            </li>
            <li id="fat-menu" class="dropdown">
               <a href="" class="dropdown-toggle" data-toggle="dropdown">
                 商品情報 <b class="caret"></b>
               <ul class = "dropdown-menu">
                  <li><%= link_to "管理者　商品一覧", admin_items_path %></li>
                  <li><%= link_to "商品登録", new_admin_genre_path %></li>
                  <li><%= link_to "ジャンル一覧", admin_genres_path %></li>
                  <li><%= link_to "会員 商品一覧", items_index_path %></li>
                  <li><%= link_to "会員 商品詳細", items_show_path %></li>
               </ul>
            </li>
          </ul>
      </nav>
    </div>
    <%= yield %>
     <%= link_to "ログアウト", destroy_member_session_path, method: :delete %>
  </body>
</html>
