<!DOCTYPE html>
<html>
  <head>
    <title>Cdshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'front', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <i class="fas fa-angle-up" id="page_arrow"></i>
    <div class = "header">
      <nav class="nav navbar-default navbar-fixed-top">
        <div class="container">
          <ul class="pull-left">
            <%= link_to root_path, :style => "text-decoration: none;" do %>
              <h3 id="rights">Rights</h3>
            <% end %>
          </ul>
          <% if member_signed_in? %>
            <ul class="pull-right" style="padding-top: 20px;">
              <%= link_to sale_index_path do %>
                  <i class="fas fa-shopping-cart fa-2x my-black"></i>
              <% end %>
            </ul>
          <% end %>
          <div class="navbar-form navbar-left" role="search" style="padding-top: 10px;">
              <%= form_tag search_index_path, method: :get do %>
                <%= text_field_tag :search %>
                <%= submit_tag "Search", :genre => nil, class: 'btn btn-default' %>
              <% end %>
          </div>
        </div>
      </nav>
      <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <div class="container">
              <%= value %>
            </div>
          </div>
        <% end %>
    </div>
    <%= yield %>
  </body>
</html>
